# Вложенные Git репозитории
*/.git/

# Большие файлы
*.csv
*.pkl
*.h5
*.parquet
EDA_PRACTICE/EDA_feature_engineering(Kaggle)/hotels.csv
D:\idi\Portfolio_Sakhno_E_S\ML\project-4\bank_fin.csv
D:\idi\Portfolio_Sakhno_E_S\math_ml\unconv.csv
D:\idi\Portfolio_Sakhno_E_S\math_ml\Advertising.csv


# Временные файлы
temp_dir/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Логи
*.log

# IDE файлы
.vscode/
.idea/
*.swp
*.swo
